# -----------------------------
# Ignore Data Files
# -----------------------------
data/
dataset/
datasets/
*.csv
*.tsv
*.json
*.xlsx
*.xls
*.png
*.jpg
*.jpeg
*.tiff
*.bmp
*.gif
*.npz
*.npy
*.hdf5

# -----------------------------
# Ignore Model Files
# -----------------------------
saved_models/
models/
checkpoints/
*.h5
*.pkl
*.pt
*.onnx
*.ckpt

# -----------------------------
# Ignore Virtual Environments
# -----------------------------
.venv/
venv/
ENV/
env/

# -----------------------------
# Ignore Python Cache
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# Ignore IDE / Editor Files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Ignore Logs
# -----------------------------
*.log

# -----------------------------
# Ignore Temp
# -----------------------------
*.DS_Store

